NEXT_PUBLIC_SUPABASE_URL=https://biytwqtyjfkaudzblbyy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_rz5SmJJngZoBmSVqmxUEdw_Gw-Zaj1k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpeXR3cXR5amZrYXVkemJsYnl5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM0MjkwMiwiZXhwIjoyMDg5OTE4OTAyfQ.uTVNGEE0oJEJ21aULHTWPAtmL1maLGNS24LAzRMqz1I
N8N_WEBHOOK_UR=https://n8n.srv1226722.hstgr.cloud/webhook/event-router